<div class="top_page">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <%= link_to '野菜登録する', 'add_vegetables',:style=>"color:#ffffff;" %>
      </li>
    </ul>
</div>
  <canvas id="myChart" width="400" height="400"></canvas>

  <form>
    <h5><b><font size="3"> 選択人数</font></b></h5>
    <select name="nannninnbunn"  size="1" style="width:100px" onchange="serving_changed()">
      <option value="" selected></option>
      <option value="1"><font size="3"> 1人分 </font></option>
      <option value="2"><font size="3"> 2人分 </font></option>
      <option value="3"><font size="3"> 3人分 </font></option>
      <option value="4"><font size="3"> 4人分 </font></option>
    </select>
  </form>

  <hr>

  <% @dishes.each do |dish| %>
  <div class="checkbox-inline">
    <div>
      <%= check_box 'dish', '1', {:onchange => 'check_changed()'}, true, false %>
        <label class="recipe_label">
        <h3 class="recipe_title"
            style="background-image:url('<%= dish.img_url %>')">
          <%= link_to(
            dish.recipe_title, 
            "http://recipe.rakuten.co.jp/recipe/#{dish.recipe_id}/",
            :target => '_blank',
            :class => 'rakuten-recipe'
          ) %>
          (<span class="serving-number"><%= dish.serving %></span>人分)
        </h3>
      </label>
    </div>
  </div>
  <table class="table" data-original-serving="<%= dish.serving %>">
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
    <% if (veg_count = dish.send(vegetable_stock[0])) != 0 then %>
    <tr data-<%= vegetable_stock[0] %>="<%= veg_count %>"
        data-original-<%= vegetable_stock[0] %>="<%= veg_count %>">
    <%# data-carrot="0.25" data-original-carrot="0.5"
        のような形式で人数分計算後の現在の野菜の数と、元の野菜の数をデータに持つ %>
      <td><%= image_tag('veg_' + vegetable_stock[0].to_s + '.png', :size => '32x32') %></td>
      <td><%= vegetable_stock[1] %></td>
      <td><span class="veg-count"><%= veg_count %></span> 個</td>
    </tr>
    <% end %>
  <% end %>
  </table>
  <hr>
  <% end %>

  <h2>あと少し材料があれば、こんなレシピも作れます。</h2>
  <hr>

  <% @non_dishes.each do |dish| %>
  <div>
    <div>
      <h3 class="recipe_title"
          style="background-image:url('<%= dish.img_url %>')">
        <%= link_to(
          dish.recipe_title, 
          "http://recipe.rakuten.co.jp/recipe/#{dish.recipe_id}/",
          :target => '_blank',
          :class => 'rakuten-recipe'
        ) %>
        (<span class="serving-number"><%= dish.serving %></span>人分)
      </h3>
    </div>
  </div>
  <table class="table" data-original-serving="<%= dish.serving %>">
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
    <% if (veg_count = dish.send(vegetable_stock[0])) != 0 then %>
    <tr data-<%= vegetable_stock[0] %>="<%= veg_count %>"
        data-original-<%= vegetable_stock[0] %>="<%= veg_count %>">
    <%# data-carrot="0.25" data-original-carrot="0.5"
        のような形式で人数分計算後の現在の野菜の数と、元の野菜の数をデータに持つ %>
      <td><%= image_tag('veg_' + vegetable_stock[0].to_s + '.png', :size => '32x32') %></td>
      <td><%= vegetable_stock[1] %></td>
      <td><span class="veg-count"><%= veg_count %></span> 個</td>
    </tr>
    <% end %>
  <% end %>
  </table>
  <hr>
  <% end %>

<script>
  show_chart();
</script>

<div class="modal fade" id="modal_celebrate">
  <div class="modal-dialog modal-sm">
    <div class="modal-body" style="background-color: white;">
      <p class="celebrate-message">野菜をぴったり使い切れました。</p>
      <p class="celebrate-message">あなたはパズベジマスター<span id="puzzveg_rank">[X]</span>段です。</p>
      <div class="celebrate-image"><%= image_tag('celebrate.png') %></div>
      <p class="text-center"><a class="btn btn-primary" data-dismiss="modal" href="#">閉じる</a></p>
    </div>
  </div>
</div>
<!-- /container -->
