 <div class="container-narrow" id="top_body">
  <div class="masthead">
    <h3 class="site_title">
      <%= link_to image_tag('PuzzVeg-logo.png', { :border => '0', :alt => 'Buy It!'}), '/' %>
    </h3>
    <hr>
  </div>
  <!--
  <div class="top_page">
    <ul class="nav nav-pills pull-right">
      <li class="active" id="bought_button">
        <%= link_to '買った物リスト', 'bought_list' %>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="active" style="width:100%;text-align:center;">
        <%= link_to '教えて', 'pickup_recipe',:style=>"color:#ffffff;" %>
      </li>
    </ul>
  </div>
  -->
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart").getContext("2d");
var ctx = $("#myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["人参", "玉ねぎ", "キャベツ", "じゃがいも", "ピーマン"],
        datasets: [{
            label: '登録された野菜量',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1,
            data: [4, 3, 3, 1, 2, 5],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  <table class="table">
    <tr>
      <td><a href="/pickup_recipe?category=30"><%= image_tag("30.png") %>人気メニュー</a></td>
      <td><a href="/pickup_recipe?category=31"><%= image_tag("31.png") %>定番の肉料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=33"><%= image_tag("33.png") %>卵料理</a></td>
      <td><a href="/pickup_recipe?category=32"><%= image_tag("32.png") %>定番の魚料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=14"><%= image_tag("14.png") %>ご飯もの</a></td>
      <td><a href="/pickup_recipe?category=15"><%= image_tag("15.png") %>パスタ</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=16"><%= image_tag("16.png") %>麺・粉もの料理</a></td>
      <td><a href="/pickup_recipe?category=23"><%= image_tag("23.png") %>鍋料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=17"><%= image_tag("17.png") %>汁物・スープ</a></td>
      <td><a href="/pickup_recipe?category=36"><%= image_tag("36.png") %>簡単料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=18"><%= image_tag("18.png") %>サラダ</a></td>
      <td><a href="/pickup_recipe?category=37"><%= image_tag("37.png") %>節約料理</a></td>
    </tr>
  </table>
</div> <!-- /container -->
