<div class="top_page">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <%= link_to '野菜登録する', 'add_vegetables',:style=>"color:#ffffff;" %>
      </li>
    </ul>

<a class="btn" data-toggle="modal" href="#modal_celebrate" >Launch Modal</a>

  </div>
  <canvas id="myChart" width="400" height="400"></canvas>
  <hr>

  <% @dishes.each do |dish| %>
  <div class="checkbox-inline">
    <div>
      <%= check_box 'dish', '1', {:onchange => 'check_changed()'}, true, false %>
        <h3 class="recipe_title"
            style="background-image:url('<%= dish.img_url %>')">
          <a href="http://recipe.rakuten.co.jp/recipe/<%= dish.recipe_id %>/"><%= dish.recipe_title %></a>
          (<%= dish.serving %>人分)
        </h3>
    </div>
  </div>
  <table class="table">
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
    <% if (veg_count = dish.send(vegetable_stock[0])) != 0 then %>
    <tr data-<%= vegetable_stock[0] %>="<%= veg_count %>"><!-- data-carrot="0.25" のような形式で野菜の数データに持つ -->
      <td><%= image_tag('veg_' + vegetable_stock[0].to_s + '.png', :size => '32x32') %></td>
      <td><%= vegetable_stock[1] %></td>
      <td><%= veg_count %> 個</td>
    </tr>
    <% end %>
  <% end %>
  </table>
  <hr>
<% end %>

<script>
  show_chart();
</script>

<div class="modal fade" id="modal_celebrate">
  <div class="modal-dialog modal-sm">
    <div class="modal-body" style="background-color: white;">
      <p>野菜をぴったり使い切れました。</p>
      <p>あなたはパズベジマスター<span id="puzzveg_rank">[X]</span>級です。</p>
      <div class="celebrate-image"><%= image_tag('celebrate.png') %></div>
      <p class="text-center"><a class="btn btn-primary" data-dismiss="modal" href="#">閉じる</a></p>
    </div>
  </div>
</div>
<!-- /container -->
