  <div class="top_page">
    <ul class="nav nav-pills pull-right">
      <% if @veg_saved == true %>
        <li class="active" id="bought_button">
          <%= link_to '使う野菜リスト', 'bought_list' %>
        </li>
      <% end %>
      <li class="active">
        <%= link_to '野菜登録する', 'add_vegetables',:style=>"color:#ffffff;" %>
      </li>
    </ul>

  </div>
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart").getContext("2d");
var ctx = $("#myChart");
var label_list = new Array();
var data_list = new Array();
<% @vegetable_stocks.to_a.each do |vegetable_stock| %>
  label_list.push('<%= vegetable_stock[1] %>');
  data_list.push('<%= vegetable_stock[2] %>')
<% end %>
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label_list,
        datasets: [{
            label: '手持ちの野菜',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1,
            data: data_list,
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  <hr>
  <h3 class="recipe_title" style="background-image:url('http://image.space.rakuten.co.jp/d/strg/ctrl/3/07207b43cde4c6476cb8d00ca58f8b3e7be541a9.16.2.3.2.jpg')"><a href="http://recipe.rakuten.co.jp/recipe/1870012115/">★ラブリースパニッシュオムレツ★</a></h3>
  <table class="table">
    <tr data-potato="2">
      <td><%= image_tag('veg_potato.png', :size => '32x32') %></td>
      <td>じゃがいも</td>
      <td>2個</td>
    </tr>
    <tr data-onion="0.5">
      <td><%= image_tag('veg_onion.png', :size => '32x32') %></td>
      <td>玉ねぎ</td>
      <td>1/2個</td>
    </tr>
    <tr data-pepper="1">
      <td><%= image_tag('veg_pepper.png', :size => '32x32') %></td>
      <td>ピーマン</td>
      <td>1個</td>
    </tr>
  </table>
  <hr>
  <h3 class="recipe_title" style="background-image:url('http://image.space.rakuten.co.jp/d/strg/ctrl/3/a7155a36b77ebc7b8292ad3654e27bb696d8590d.97.2.3.2.jpg')"><a href="http://recipe.rakuten.co.jp/recipe/1870012114/">肉じゃが</a></h3>
  <table class="table">
    <tr data-potato="3">
      <td><%= image_tag('veg_potato.png', :size => '32x32') %></td>
      <td>じゃがいも</td>
      <td>3個</td>
    </tr>
    <tr data-onion="1">
      <td><%= image_tag('veg_onion.png', :size => '32x32') %></td>
      <td>玉ねぎ</td>
      <td>1個</td>
    </tr>
    <tr data-carrot="1">
      <td><%= image_tag('veg_carrot.png', :size => '32x32') %></td>
      <td>にんじん</td>
      <td>1個</td>
    </tr>
  </table>
  <script>
  var message = '使う予定の野菜: ';
  <% @vegetable_stocks.to_a.each do |vegetable_stock| %>
  {
    var vegs = document.querySelectorAll('[data-<%= vegetable_stock[0] %>]');
    var veg_count = 0;
    for (veg of vegs) {
       veg_count += parseFloat(veg.dataset.<%= vegetable_stock[0] %>);
    }
    message += '<%= vegetable_stock[1] %> : ' + veg_count + '個 '
  }
  <% end %>
  alert(message);
  </script>
  <!-- /container -->
