  <div class="top_page">
    <ul class="nav nav-pills pull-right">
      <% if @veg_saved == true %>
        <li class="active" id="bought_button">
          <%= link_to '使う野菜リスト', 'bought_list' %>
        </li>
      <% end %>
      <li class="active">
        <%= link_to '野菜登録する', 'add_vegetables',:style=>"color:#ffffff;" %>
      </li>
    </ul>

  </div>
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart").getContext("2d");
var ctx = $("#myChart");
var label_list = new Array();
var data_list = new Array();
<% @vegetable_stocks.to_a.each do |vegetable_stock| %>
  label_list.push('<%= vegetable_stock[1] %>');
  data_list.push('<%= vegetable_stock[2] %>')
<% end %>
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label_list,
        datasets: [{
            label: '登録された野菜量',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1,
            data: data_list,
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  <table class="table">
    <tr>
      <td><a href="/pickup_recipe?category=30"><%= image_tag("30.png", :size => '32x32') %>人気メニュー</a></td>
      <td><a href="/pickup_recipe?category=31"><%= image_tag("31.png", :size => '32x32') %>定番の肉料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=33"><%= image_tag("33.png", :size => '32x32') %>卵料理</a></td>
      <td><a href="/pickup_recipe?category=32"><%= image_tag("32.png", :size => '32x32') %>定番の魚料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=14"><%= image_tag("14.png", :size => '32x32') %>ご飯もの</a></td>
      <td><a href="/pickup_recipe?category=15"><%= image_tag("15.png", :size => '32x32') %>パスタ</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=16"><%= image_tag("16.png", :size => '32x32') %>麺・粉もの料理</a></td>
      <td><a href="/pickup_recipe?category=23"><%= image_tag("23.png", :size => '32x32') %>鍋料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=17"><%= image_tag("17.png", :size => '32x32') %>汁物・スープ</a></td>
      <td><a href="/pickup_recipe?category=36"><%= image_tag("36.png", :size => '32x32') %>簡単料理</a></td>
    </tr>
    <tr>
      <td><a href="/pickup_recipe?category=18"><%= image_tag("18.png", :size => '32x32') %>サラダ</a></td>
      <td><a href="/pickup_recipe?category=37"><%= image_tag("37.png", :size => '32x32') %>節約料理</a></td>
    </tr>
  </table><!-- /container -->
