  <div class="cooking_title">
    <h3 id="title"><a href="<%= @recipeUrl %>"><%= @recipeTitle %></a></h3>
  </div>
  <div class="row-fluid marketing">
    <hr>
    <h4><strong>買ったものリスト</strong></h4>
    <table class="table table-striped">
        <% @materials.each do |material| %>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <%= "#{material[0][:materialName]}" %>
          </td>
          <td>
            <%= "#{material[0][:materialAmount]}" %>
          </td>
        </tr>
        <% end %>
    </table>    
    <hr>      
    <p>
      <a href="<%= @recipeUrl %>">楽天レシピのサイトへ</a>
    </p>  
  </div><!-- /container -->
