<h2>レシピカテゴリ表示ページ</h2>

<table>
  <caption>大カテゴリ一覧</caption>
  <thead>
    <tr>
      <th>カテゴリ番号</th>
      <th>カテゴリ名</th>
    </tr>
  </thead>
  <tbody>
    <% @large_categories.each do |large_category| %> 
    <tr>
      <td><%= large_category.id %></td>
      <td><%= large_category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>カテゴリー表示</h2>
  <form method="get" action="/pickup_recipe">
  <p>
    <select name="category">
    <% @large_categories.each do |large_category| %>
      <option value="<%= large_category.id %>"><%= large_category.id %> : <%= large_category.name %></option>
    <% end %>
    </select>
    <input type="submit" value="表示">
  </p>
</form>


<h3>人気メニュー</h3>
<table>
  <caption>人気パスタ</caption>
  <thead>
    <tr>
      <th>レシピ名</th>
      <th>レシピ画像</th>
      <th>レシピ説明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <% @menus.each do |menu| %>
      <td><%= menu['recipeTitle'] %></td>
      <td><img src="<%= menu['foodImageUrl'] %>"></td>
      <td><%= menu['recipeDescription'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div><a href="/">TOPページへ</a></div>
