<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><%= link_to 'チェンジ！', 'pickup_recipe'%></li>
    <h3 class="muted"><%= @menu['recipeTitle'] %></h3>
  </div>

  <hr>

  <h1>
    <img src="<%= @menu['foodImageUrl'] %>" width="600px" height="600px" class="img-rounded">
  </h1>

  <hr>
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>料理の説明</h4>
      <p><%= @menu['recipeDescription'] %></p>
	  
      <h4>URL</h4>
      <p><a href="<%= @menu['recipeUrl'] %>">楽天レシピのサイトへ</a></p>
      
      <h4>材料リスト</h4>

      <table class="table">
	<% @materials.each do |material| %>
	<%==  "<tr><td>#{material[0]['materialName']} - #{material[0]['materialAmount']}</td></tr>" %>
	<% end %>
      </table>
    </div>

    <div class="span6">

      <h4>所要時間</h4>
      <p><%= @menu['recipeIndication'] %></p>

      <h4>費用</h4>
      <p><%= @menu['recipeCost'] %></P>
  </div>
</div>

<hr>
</div> <!-- /container -->
