<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active" id="change_button"><%= link_to 'チェンジ！', 'pickup_recipe'%></li>
    </ul>
    <h3 class="site_title"><%= link_to 'Buy It!', '/'%></h3>
  </div>

  <div class="cooking_title">
    <h3 id="title"><%= @menu['recipeTitle'] %></h3>
    <div id="cooking_time">所要時間<%= @menu['recipeIndication'] %></div>
  </div>

  <h1>
    <img src="<%= @menu['foodImageUrl'] %>" width="600px" height="600px" class="img-rounded" id="cooking_img">
  </h1>

  <hr>
 
  <div class="row-fluid marketing">
    <h4><strong>料理の説明</strong></h4>
    <p><%= @menu['recipeDescription'] %></p>
    <hr>
    <h4><strong>材料リスト</strong></h4>
    <table class="table">
        <% @materials.each do |material| %>
        <%==  "<tr><td>#{material[0]['materialName']}</td><td>#{material[0]['materialAmount']}</td></tr>" %>
        <% end %>
    </table>    
    <div id="cooking_cost">費用<%= @menu['recipeCost'] %></div>
    <hr>      
    <p>
      <a href="<%= @menu['recipeUrl'] %>">楽天レシピのサイトへ</a>
    </p>  
  </div>

  <hr>
  <div class="footer">
    <p>&copy;AIIT enPiT 2016 Ruthenium</p>
  </div>   
</div> <!-- /container -->
