<script type="text/javascript" language="javascript">
function onButtonClick() {
/*
  alert('Hello');
  $('.material_check').map(function() {
    value = $(this).prop('checked');
    alert(value);
  });
*/
  var target = document.forms["bought-list"];
  target.submit();
}
</script>

<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active" id="change_button"><%= link_to 'チェンジ！', 'pickup_recipe'%></li>
    </ul>
    <h3 class="site_title">
      <%= link_to image_tag('logo.png', { :border => '0', :alt => 'Buy It!'}), '/' %>
    </h3>
  </div>

  <div class="cooking_title">
    <h3 id="title"><a href="<%= @menu['recipeUrl'] %>"><%= @menu['recipeTitle'] %></a></h3>
    <div id="cooking_time">所要時間<%= @menu['recipeIndication'] %></div>
  </div>

  <h1>
    <img src="<%= @menu['foodImageUrl'] %>" width="600px" height="600px" class="img-rounded" id="cooking_img">
  </h1>

  <hr>
 
  <div class="row-fluid marketing">
    <h4><strong>料理の説明</strong></h4>
    <p><%= @menu['recipeDescription'] %></p>
    <hr>
    <h4><strong>材料リスト</strong></h4>
    <form name="bought-list" action="bought" method="GET">
    <table class="table">
      <% i = 0 %>
      <% @materials.each do |material| %>
      <tr>
        <td>
          <input class="material_check" type="checkbox" name="material<%= i %>" id="material<%= i %>"
          <% if @material_checks && @material_checks.include?(i) then %>
          checked
          <% end %>
          >
        </td>
        <td>
          <%= "#{material[0]['materialName']}" %>
        </td>
        <td>
          <%= "#{material[0]['materialAmount']}" %>
        </td>
      </tr>
      <% i = i + 1 %>
      <% end %>
    </table>    
    <div id="cooking_cost">費用<%= @menu['recipeCost'] %></div>
    <ul class="nav nav-pills">
      <% if @bought != true %>
        <li class="active" id="bought_button" style="text-align:center;">
          <a href="javascript:onButtonClick();" style="color:#ffffff;">買った</a>
        </li>
      <% else %>
        <li class="active" id="bought_list" style="text-align:center;">
          <%= link_to '買ったものリスト', 'bought_list', :style=>"color:#ffffff;"%>
        </li>
      <% end %>
    </ul>
    </form>
    <hr>      
    <p>
      <a href="<%= @menu['recipeUrl'] %>">楽天レシピのサイトへ</a>
    </p>  
  </div>

  <hr>
  <div class="footer">
    <p>&copy;AIIT enPiT 2016 Ruthenium</p>
  </div>   
</div> <!-- /container -->
