<div class="container">
  
  <div class="masthead">
    <h3 class="muted"><%= @menu["recipeTitle"] %></h3>
  </div>

  <div><%= @menu["recipeDescription"] %></div>

  <table class="table">
  <% @materials.each do |material| %>
    <tr>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox">
              <%= material[0]['materialName'] %> - <%= material[0]['materialAmount'] %>
          </label>
        </div>
      </td>
    </tr>
  <% end %>
  </table>

  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to '戻る', 'pickup_recipe',:style=>"color:#ffffff;"%>
    </li>
  </ul>

</div>
