<!DOCTYPE html>
<html>
<head>
  <title>PuzzVeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-narrow" id="top_body">

<% unless @no_header then %>
  <%= render 'header' %>
<% end %>

<%= yield %>

<% unless @no_footer then %>
  <%= render 'footer' %>
<% end %>

  </div>
</body>
</html>
